.features-section {
    padding-top: 96px;
    padding-bottom: 96px;
}

.features-item-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}
 
.feature-item-pic {
    display: none;    
}

.feature-item-title {
    margin-bottom: 8px;
    color: #2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
}

.feature-item p {
    font-weight: 500;
}

.feature-item-title,
.sr-only {
    color: #2E2F42;
}

@media screen and (min-width: 768px) {
    .features-item-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .feature-item {
        width: calc((100% - 24px) / 2);
    }

    .feature-item-title {
        text-align: left;
    }
}


@media screen and (min-width: 1158px) {
    .features-section {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .features-item-list {
        flex-wrap: nowrap;
        gap: 24px;
    }

    .feature-item {
        width: calc((100% - 72px) / 4);
    }

    .feature-item-pic {
        display: flex;
        border: 1px solid #8E8F99;
        background-color: #F4F4FD;
        border-radius: 4px;
        margin-bottom: 8px;
        height: 112px;
        align-items: center;
        justify-content: center;
    }

    .feature-item-title {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;

        text-align: left;
    }

    .feature-item p {
        font-weight: 400;
    }
}

