.features-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.features-item-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}
 
.feature-item-pic {
    display: none;    
}

.feature-item svg {
    display: block;
}

.feature-item::before {
    content: "";
}

.feature-item-title,
.sr-only {
    color: #2E2F42;
}
