.footer {
    color: #F4F4FD;
    background-color: #2E2F42;
    font-style: normal;
    letter-spacing: 0.02em;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-container {
    display: flex;
    align-items: flex-start;
}

.footer-logo {
    color: #F4F4FD;
}

.footer-left {
    max-width: 264px;    
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer .social-list {
    display: flex;
    gap: 16px;
}

.footer .social-link:hover,
.footer .social-link:focus {
    background-color: #31d0aa;
}

.footer-title {
    color: #ffffff;
    font-weight: 500;
}

.footer-socials {
    max-width: 208px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-left: 120px;
}

.footer-subscribe {
    max-width: 453px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-left: auto;
}

.subscribe-form {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.subscribe-input {
    font-family: inherit;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    padding-left: 16px;
    width: 264px;
    height: 40px;
    background-color: #2E2F42;
    border: 1px solid white;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-input:focus {
    border-color: #31d0aa;
}

.subscribe-form-icon {
    fill: white;    
}

.subscribe-input::placeholder {
    font-family: inherit;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: white;
}

.subscribe-input,
.subscribe-input::placeholder {
    font-size: 12px;
    line-height: 24px;
}

.subscribe-button {
    display: flex;
    flex-direction: row;
    border: none;
    border-radius: 4px;
    gap: 16px;
    padding: 8px 24px;
    height: 40px;
    max-width: 165px;
    background-color: #4D5AE5;
    color: white;
    font-weight: 500;
    font-size: 16px;
    font-family: inherit;
    line-height: 1.5;
    letter-spacing: 0.04em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
    background-color: #31d0aa;
}