.hero-section {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-color: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: 
        linear-gradient(
            180deg,
            rgba(46, 47, 66, 0.7) 0%,
            rgba(46, 47, 66, 0.7) 100%),
            url(../images/hero-background/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.main-title {
    text-align: center;
    max-width: 496px;
}

.button {
    color: #FFFFFF;
    background-color: #4D5AE5;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    cursor: pointer;
    letter-spacing: 0.04em;
    display: block;
    margin-top: 48px;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    box-shadow:0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-title,
.button {
    margin-left: auto;
    margin-right: auto;
}

.button:focus,
.button:hover {
    background-color: #404BBF;
}
